body, html {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header, footer {
    display: flex;
    justify-content: center;
}

header {
        background-color:cornflowerblue;
        margin-bottom: 50px;
        border-width: 0 0 2px 0;
        border-style: solid;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: black;
    text-decoration: None;
}

input {
    align-items: center;
    background-color: aliceblue;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 25px;
}

.discount {
    padding: 15px;
    border-radius: 25px;
    background-color: rgb(255, 208, 208);
    transition: 1.0s ease;
    text-decoration: solid;
    font-size: 20px;
    border-style: solid;
    border-width: 1px;
}

.container:hover .discount,
.discount:hover {
    filter: saturate(250%);
    border-width: 2px;
    transform: rotate3d(1,0,0,360deg) scale(1.25);
    
    box-shadow: 
        0 0 5px rgb(255, 208, 208),
        0 0 30px rgb(255, 208, 208),
        0 0 50px rgb(255, 208, 208),
        0 0 150px rgb(255, 208, 208);

}

.container {
    max-width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 12px;
    margin: 25px;
    border-radius: 25px;
    background-color: aliceblue;
    transition: 0.25s ease;
    border-style: solid;
    border-width: 1px;

}

.container:hover {
    cursor: pointer;
    background-color: cornflowerblue;
    filter: saturate(150%);

    transform: scale(1.2);
    box-shadow: 
        0 0 5px cornflowerblue,
        0 0 15px cornflowerblue,
        0 0 25px cornflowerblue;
}

.container img {
    max-height: 350px;
    max-width: 200px;
    border-radius: 25px;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px;
}

.container-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-details {

    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 25px;
    margin: 25px;
    border-radius: 25px;
    background-color: aliceblue;

    font-size: 15px;

}

.container-details img {
    width: 450px;
    width: 250px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 25px;
    margin: 25px;
    border-radius: 25px;
    background-color: aliceblue;

}

label {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

#gameSearch {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 0 15px 0;
    width: 25%;
    height: 15%;
}

#reloadButton {
    margin: 15px;
    background-color: rgb(209, 228, 244);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: black;
    font-size: 16px;
    text-decoration: solid;
    transition: background-color ease 0.3s;
}

#reloadButton:hover {
    background-color: cornflowerblue;
}

.loading {
    font-size: 18px;
    text-align: center;
    padding: 20px;
    color: #333;
  }

.button-container {
    place-items: center ;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin-bottom: 50px;
}


footer {
    background-color:cornflowerblue;
    border-width: 2px 0 0 0;
    border-style: solid;
}