body, html {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header, footer {
    display: flex;
    justify-content: center;
}

header {
        background-color:cornflowerblue;
        margin-bottom: 50px;
        border-width: 0 0 2px 0;
        border-style: solid;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: black;
    text-decoration: None;
}

input {
    align-items: center;
    background-color: aliceblue;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 25px;
}

.container {
    max-width: 200px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 12px;
    margin: 25px;
    border-radius: 25px;
    background-color: aliceblue;
    transition: 0.25s ease;

}

.container:hover {
    cursor: pointer;
    background-color: cornflowerblue;
    transform: scale(1.2);
    box-shadow: 
        0 0 5px cornflowerblue,
        0 0 15px cornflowerblue,
        0 0 25px cornflowerblue;
}

.container img {
    max-height: 350px;
    max-width: 200px;
    border-radius: 25px;
    margin-bottom: 15px;

}

.container-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button-container {
    place-items: center ;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    margin-bottom: 50px;
}


footer {
    background-color:cornflowerblue;
    border-width: 2px 0 0 0;
    border-style: solid;
}